@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 240 10% 8%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 8%;

    --primary: 240 10% 8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 92%;
    --secondary-foreground: 240 10% 8%;

    --accent: 0 0% 90%;
    --accent-foreground: 240 10% 8%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 82%;
    --input: 0 0% 82%;
    --muted: 0 0% 90%;
    --muted-foreground: 240 5% 40%;
    --ring: 240 10% 8%;
  }

  .dark {
    --background: 220 12% 5%;
    --foreground: 0 0% 96%;

    --card: 220 12% 7%;
    --card-foreground: 0 0% 96%;

    --primary: 0 0% 96%;
    --primary-foreground: 220 12% 5%;

    --secondary: 220 10% 12%;
    --secondary-foreground: 0 0% 96%;

    --accent: 220 10% 15%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 10% 18%;
    --input: 220 10% 18%;
    --muted: 220 10% 12%;
    --muted-foreground: 0 0% 66%;
    --ring: 0 0% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-grid-white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}
